.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
	word-break: normal !important;
}

.wpcf7 .hidden-fields-container {
	display: none;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 [inert] {
	opacity: 0.5;
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection > output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection > output[hidden] {
	display: none;
}



/* Banner */
.hero-banner{
    position:relative;
    width:100%;
    height:80vh;
    background:url("../image/homebanner-1.png") center center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;

   
}


.hero-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
	
}

.banner-content{
    position:relative;
    z-index:2;
    max-width:700px;
    padding:20px;
    color:#fff;
}

.banner-content h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom:20px;
}

.banner-content p{
    font-size:18px;
    line-height:30px;
    margin-bottom:30px;
	color:#fff !important;
}




/* Popup Form */
.popup-form{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.7);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:0.3s;
    z-index:999;
}

.popup-form.active{
    opacity:1;
    visibility:visible;
     position:relative;
     top: -226px;

}

.popup-box{
    background:#fff;
    width:450px;
    padding:20px;
    border-radius:12px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.close-btn{
    position:absolute;
    top:12px;
    right:18px;
    font-size:32px;
    cursor:pointer;
}

.popup-box h2{
    margin-bottom:20px;
    text-align:center;
}

.popup-box form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.popup-box input,
.popup-box textarea{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    outline:none;
    border-radius:5px;
}

.popup-box textarea{
    height:120px;
    resize:none;
}

.popup-box button{
    background:#c89b5e;
    color:#fff;
    border:none;
    padding:14px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

/* Responsive */
@media(max-width:768px){
    .banner-content h1{
        font-size:27px;
    }
    .theme-button-new span {
    padding: 13px 25px;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    display: block;
    background: var(--e-global-color-colorsetone3);
    color: var(--color-white);
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 13px !important;
}
    .banner-content p{
        font-size:16px;
        line-height:26px;
    }
	.elementor-1258 .elementor-element.elementor-element-0f55640 .header_contact .text-16{
		font-size: 26px !important;
	}

    .popup-box{
        width:90%;
        padding:25px;
    }
	.elementor-813 .elementor-element.elementor-element-a971203 .title_all_box .common_title {
    font-size: 24px !important;
    line-height: 25px !important;
    margin: 0px 0px 13px 0px;
}
.project_filter li.current, .project_filter li:hover, .project_filter li.active, .iis_project_tab_design .showcase_tabs_btns li.current, .iis_project_tab_design .showcase_tabs_btns li:hover, .iis_project_tab_design .showcase_tabs_btns li.active {
    color: var(--heading-color-one);
    width: 100%;
}
.mm-contact-text{
    color: #384538 !important;
}
.experience-wrapper .left_content .experience-number {
    position: relative;
    font-size: 100px !important;
    line-height: 150px;
    margin-bottom: -80px;
    color: var(--color-white);
    -webkit-text-stroke-width: 1px;
    -text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--e-global-color-colorsetone3);
    -text-stroke-color: var(--e-global-color-colorsetone3);
}
.tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area img, .tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area video source, .tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area iframe {
    height: 750px;
    width: 100%;
    border-bottom-right-radius: 285px;
    border-bottom-left-radius: 285px;
    -o-object-fit: cover;
    margin: 20px 0px 0px 8px !important;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
.elementor-4122 .elementor-element.elementor-element-79206db{
	padding-left: 0px !important;
}
.tab_from_block_post_two.tab_new_style_one {
    display: block !important;
}
.tab_from_block_post_two.tab_new_style_one .tab_top_content_overflow {
    width: 100% !important;
	padding-left: 20px;
}
element.elementor-element-8e3cb4d .title_all_box .common_title {
    font-size: 38px;
    line-height: 40px;
    margin: 0px 0px 0px 0px;
}
.tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-text-area

 {
    text-align: center;
    position: absolute;
        bottom: 249px !important;
        width: 324px !important;
        height: 340px !important;
        
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    background: var(--background-white);
    padding: 40px;
    border-radius: 100%;
}
.tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-text-area .tab-main-title {
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
    font-size: 26px;
    line-height: normal;
}
.tab_from_block_post_two.tab_new_style_one .s_tabs_content {
    width: calc(100% - 1rem) !important;
}
 

}
@media (min-width:1200px) and (max-width:1400px) {
	.social-icons li{
		color:#46b450;
	}
	
.tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area img, .tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area video source, .tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-image-area iframe

 {
    height: 750px !important;
    width: 100% !important;
    border-bottom-right-radius: 253px;
    border-bottom-left-radius: 285px;
    
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    margin-left: 20px;
    margin-top: 20px;
}

}
.top i {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.top i img {
    width: 50px;
    height: 50px;
    object-fit: contain;
	filter: brightness(0) saturate(100%) invert(42%) sepia(96%) saturate(487%) hue-rotate(74deg) brightness(95%) contrast(90%);
}
.tab-icon img{
	 width:50px;
	 height: 50px;
}

/* ==========================
   TABLET VIEW
========================== */
@media (max-width: 1024px) {

    .project_filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }

    .project_filter li {
        font-size: 14px;
        padding: 10px 18px;
        border-radius: 30px;
        text-align: center;
    }

    .project_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .project-wrapper {
        width: 100%;
    }

    .project_card .image img {
        width: 100%;
        height: 400px !important;
        object-fit: cover;
        border-radius: 20px;
    }
    .elementor-4122 .elementor-element.elementor-element-8e3cb4d .title_all_box .common_title {
    font-size: 36px;
    line-height: 36px;
    margin: 0px 0px 0px 0px;
}

    .contentbox {
        padding: 20px 15px;
    }

    .trim-3 {
        font-size: 22px;
        line-height: 30px;
    }

    .text-18 {
        font-size: 15px;
        line-height: 26px;
    }
}


/* ==========================
   MOBILE VIEW
========================== */
@media (max-width: 767px) {

    /* Tabs responsive */
    .fliter_group {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
    }
 
    .project_filter {
        display: flex !important;
        flex-wrap: wrap;
        gap: 10px;
        width: max-content;
        text-align: center;
        padding: 0 15px;
    }
    .popup-youtube::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 80% ;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #c3a27c;
}
.tab_from_block_post_two.tab_new_style_one .s_tabs_content .tab-flex-container .tab-text-area .tab-main-title{
    font-size: 20px !important;
    
}
p:not(.am-fs-sb__step-heading, .wp-block){
    font-weight: 400 !important;
   
}

  
    .project_filter li {
        font-size: 13px;
        padding: 10px 18px;
        border-radius: 30px;
        flex-shrink: 0;
    }

    /* Single card layout */
    .project_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project-wrapper {
        width: 100%;
    }

    /* Image responsive */
    .project_card .image img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-radius: 20px;
    }

    /* Content spacing */
    .contentbox {
        padding: 20px 15px;
    }

  

    .contentbox .top img {
        width: 34px;
        height: 34px;
    }

    .trim-3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .text-18 {
        font-size: 14px;
        line-height: 24px;
    }
}


/* Mobile View */
@media (max-width: 767px) {

    .project_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .project-wrapper {
        width: 100% !important;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .project_card .image {
        width: 100%;
        overflow: hidden;
    }

    .project_card .image img {
        width: 100% !important;
        height: 250px !important;
        object-fit: cover;
        display: block;
        border-radius: 15px;
    }
    .top i {
    background: #fff;
    width: 50px !important;
    height: 50px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.project_card.style_three .contentbox .contentbox_inner {
    position: relative;
    z-index: 1;
    padding: 0px !important;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project_card.style_three .text-18, .project_card.style_three .project-custom-text, .project_card.style_three .text-17

 {
    color: var(--color-white) !important;
    font-size: 13px !important;
}
}
.header_contact .content a {
    white-space: nowrap;
    display: inline-block;
}
