
.quote-form{
display:flex;
gap:20px;
backdrop-filter:blur(10px);
}

.quote-form input,
.quote-form select{
height:60px;
border:none;
border-radius:20px;
padding:0 20px;
font-size:18px;
background:white;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}
.cost-form {
    position: absolute;
    bottom: calc(100vh - 300px);
    z-index: 99;
    left: 60px;
}
.iisr-list-item a {
    color: #f1f1f1;
}
.iisr-list-item a:hover,  .header_contact .text-16:hover {
    color: var(--e-global-color-colorsetone3) !important;
}
h2.common_title.tru{
color: var(--e-global-color-colorsetone3) !important;
}
a.active span{
color: var(--e-global-color-colorsetone3) !important;
}

#serviceSelect{
    width:320px !important;
    padding-right:48px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    background-size: 16px;
}
 .main-header .icons span{
                        color:var(--e-global-color-colorsetone3) !important;
                    }
.social-icons.foter-icon {
    margin-top: 60px;
}
.whatsappfooter {
    position: fixed;
    bottom: 80px;
    height: 50px;
    z-index: 9999;
    width: 40px;
    right: 25px;
}
.ai-center{
    align-items: center;
}
.iisr-list-items a{
    display:inline-block;
}
@media (max-width:1370px){
.quote-form {
    flex-direction: column;
}
}
